/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
.main-body {
  margin-left: 17%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
}
.carousel-caption {
  color: white;
  text-shadow: 2px 2px #5a5a5a;
}
/*Other conference page
-------------------------------------------------- */
.other-conference {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  filter: blur(0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.other-conference:hover {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.other-conference-outer:hover > .other-conference {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
#sidebarNav.affix {
  position: fixed;
  top: 33%;
  max-width: 17%;
}
#sidebar {
  max-width: 17%;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 50vw;
  margin-bottom: 5%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 50vw;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50vw;
}
.carousel-indicators li {
  background-color: rgba(70, 70, 70, 0.25);
}
.carousel-indicators .active {
  background-color: #444;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2%;
}
/* Mail Chimp
-------------------------------------------------- */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 992px) {
  #sidebar {
    display: none;
  }
  .main-body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
  }
  .form-body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
  }
}
@media (max-width: 1180px) {
  .navbar {
    font-size: smaller;
  }
  .navbar-brand {
    font-size: smaller;
  }
}
@media (max-width: 768px) {
  .carousel {
    height: 70vw;
  }
  .carousel .item {
    height: 70vw;
  }
  .carousel-inner > .item > img {
    height: 70vw;
  }
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
.lead {
  text-align: justify;
  font-size: medium;
}
.featurette-heading {
  color: darkcyan;
}
.tab-disabled {
  opacity: 0.5;
}
#sidebarNav > li > a {
  color: darkcyan;
}
#sidebar .nav > .active > a,
#sidebar .nav > li > a:hover,
#sidebar .nav > li > a:focus {
  background-color: darkcyan;
  color: white;
}
.navbar {
  font-family: "Oswald", sans-serif;
  font-size: larger;
  background-color: #5f5f5f;
}
#navbar > ul > li > a {
  color: white;
}
#navbar > ul > li > a:hover {
  background-color: white;
  color: #5f5f5f;
}
body > div.navbar-wrapper > div > nav > div > div.navbar-header > a {
  color: white;
}
.navbar-brand {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: larger;
}
.back-to-top {
  position: fixed;
  bottom: 5%;
  left: 5%;
  color: darkcyan;
}
body > div.back-to-top > a {
  color: darkcyan;
}
.footer-title {
  text-align: center;
  background: rgba(0, 139, 139, 0.2);
}
.center-text p {
  text-align: center;
}
