{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}

{% block title %}Accomodation{% endblock %}

{% block body_block %}

<div class="row featurette" style="margin-left: 5%; margin-right: 5%">

    <h2 class="featurette-heading" id="averagePrices">Average Hotel Prices</h2>

    <p class="lead">Below are the average prices per person per night for hotels in Croydon.</p>

        <table class="table col-md-12">
            <tr>
                <th>Star rating</th>
                <th>Average Price</th>
            </tr>
            <tr>
                <td>Jury's Inn</td>
                <td>From £48</td>
            </tr>
            <tr>
                <td>The Lansdowne Hotel</td>
                <td>From £60</td>
            </tr>
            <tr>
                <td>Travelodge Croydon Central</td>
                <td>From £43</td>
            </tr>
            <tr>
                <td>Hampton by Hilton Croydon</td>
                <td>From £60</td>
            </tr>
        </table>

</div>

{% endblock %}
