{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}

<div class="container" style="padding-top: 10%">
    <div class="content_white">
        <div class="row">
            <div class="col-md-12">

                <h2>Contact Us</h2>

                <div class="row">
                    <div class="col-md-6">


                        <p>The ASRANet Ltd office is located at:</p>
                        <p><strong>ASRANet Ltd</strong></p>
                        <p>
                            St Georges Building<br/>
                            3rd Floor<br/>
                            5 St Vincent Place<br/>
                            Glasgow, G1 2DH
                        </p>

                        <p>Telephone: <a href="00441412754801">+44 (0)141 275 4801</a></p>
                        <p>Fax: +44 (0)141-275 4800</p>

                        <h6>For more enquires:</h6>
                        <p>Email: <a href="mailto:info@asess2016.co.uk">info@ASRANet.co.uk</a></p>


                    </div>
                    <div class="col-md-6">
                        <p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.0998495337362!2d-4.251814!3d55.86093399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888469f8c4a409f%3A0x7a1a40ad7c97365f!2sSt+Georges+Buildings%2C+5+St+Vincent+Pl%2C+Glasgow%2C+Glasgow+City+G1+2DH!5e0!3m2!1sen!2suk!4v1407177303458"
                                    frameborder="0" width="100%" height="300px" style="border:0"></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}