{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{%  block body_block %}

<div class="container" style="padding-top: 10%">
    <div class="content_white">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Privacy & Cookie Policy</h2>

                <p>This privacy policy sets out how ASRANet Ltd uses and protects any information that you give us when you use this website.</p>

                <p>ASRANet Ltd is committed to ensuring that your privacy is protected. Should you be asked to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. </p>

                <p>ASRANet Ltd may change this policy by updating this page. You should check this page from time to time to ensure that you are happy with any changes. </p>
                <h2>Cookie Policy</h2>

                <p>Like most websites, this site uses cookies</p>

                <p>By using this website (nuclearpowerplantconference.co.uk), you agree that cookies will be placed on your device. These cookies are only from trusted third parties to help gather information on which areas of this site are most interesting and how they perform in search engines. These cookies are completely safe and secure and do not contain any sensitive information that can uniquely identify you as a person. </p>

                <p>A cookie is a text file sent by a web server to a web browser, and stored by the browser. The text file is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser for analytics on how well this website is performing. </p>

                <p>Each cookie could be stored by your browser on your computer's hard drive. The information obtained from the cookie may be used to improve the website's usability and for marketing purposes. </p>
                <p>Types of cookies</p>

                <p>The cookies used on nuclearpowerplantconference.co.uk have been categorised based on the International Chamber of Commerce guide for cookie categories: </p>

                <p>Performance cookies: These cookies collect information about how visitors use a website, for instance which pages visitors go to most often, and if they get error messages from web pages. These cookies don't collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how a website works. </p>

                <p>Here is a list of the cookies defined as 'Performance': </p>
                <ul>
                    <li>_utma</li>
                    <li>_utmb</li>
                    <li>_utmc</li>
                    <li>_utmz</li>
                </ul>
                <p>
                    These cookies are used to collect information about how visitors use this site. This information is used to compile reports and to help improve the site. The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited. Google Analytics do not collect any personal information as identified in their privacy policy. Google also have a browser plugin that allows users to opt out of their analytics.
                </p>
                <p>Most web browsers allow you to refuse to accept cookies</p>

                <p>The AboutCookies.org website contains comprehensive information on how to do this on a wide variety of browsers. This website is not associated with ASRANet Ltd and therefore ASRANet Ltd is not responsible for their content. </p>
                <p>Please be aware that restricting cookies will have a negative impact upon the usability of many websites, including this one. For example, you may have difficulties logging in to an account or buying products from a shopping site. </p>
                <h2>Privacy Policy</h2>

                <p>Information Collected</p>

                <p>Information is only collected when you submit a registration form: </p>
                <p>Name, email address, telephone number plus your original enquiry message. </p>

                <p>What happens with this information</p>

                <p>This information may be kept in email format or deleted and used for: </p>
                <p>Internal record keeping for quotations and follow up contact. ASRANet Ltd may also send promotional emails about new products, special offers or other information which you may find interesting using the email address which you have provided. You have the option to unsubscribe at any time. </p>
                <p>ASRANet Ltd is committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, there has been suitable physical, electronic procedures to safeguard and secure the information collected online. </p>
                <p>This website may contain links to other websites of interest. However, once you have used these links to leave this site, you should note that ASRANet Ltd does not have any control over that other website and therefore cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question. </p>

                <p>Controlling your personal information</p>

                <p>ASRANet Ltd will not sell, distribute or lease your personal information to any third parties unless given your permission or required by law to do so. </p>


            </div>
        </div>
    </div>
</div>

{% endblock %}