{% extends 'baseTemplates/infoPageBase.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block carousel %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="{% static "Images/biomat1.jpg" %}" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>BIOMAAP 2017</h1>
                        <p>Jury's Inn, Croydon, UK</p>
                        <p>31st August - 1st September 2017</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="{% static "Images/biomat2.jpg" %}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>BIOMAAP 2017</h1>
                        <p>First International Conference on Advances in Bio-Materials and Their Applications</p>
                        <a href="{% url 'register' %}" class="btn btn-lg btn-default hidden-xs">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script src="{% static "homeScript.js" %}"></script>
{% endblock %}