{% extends 'baseTemplates/infoPageBase.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block carousel %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="{% static "Images/carouselEx1.jpg" %}" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>CORE 2016</h1>
                        <p>The Glasgow City Hotel, Glasgow, UK</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="{% static "Images/carouselEx2.jpg" %}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>CORE 2016</h1>
                        <p>Second International Conference on Offshore Renewable Energy</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="{% static "Images/carouselEx3.jpg" %}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>CORE 2016</h1>
                        <p>12th - 14th September 2016</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="{% static "Images/carouselEx4.jpg" %}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>CORE 2016</h1>
                        <a href="{% url 'register' %}" class="btn btn-lg btn-default">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script src="{% static "homeScript.js" %}"></script>
{% endblock %}