{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}

{% block title %}Other ASRANet Conferences{% endblock %}

{% block body_block %}

    <div style="padding-top: 10%; margin-left: 5%; margin-right: 5%;" xmlns="http://www.w3.org/1999/html">
        <div class="row" style="padding-bottom: 87px">

            <h2>Upcoming ASRANet Conferences</h2>

            <div class="col-md-6">
                <a href="https://www.offshore-renewables.co.uk" class="other-conference-outer">
                    <div class="other-conference jumbotron"
                         style="background-image: url('../static/Images/otherConferences/CORE.jpg')"></div>
                    <h1 class="other-conference-title">CORE 2016</h1>
                </a>
            </div>

            <div class="col-md-6">
                <a href="https://www.bio-materials.co.uk" class="other-conference-outer">
                    <div class="other-conference jumbotron"
                         style="background-image: url('../static/Images/otherConferences/biomat.jpg')"></div>
                    <h1 class="other-conference-title">BioMaAp 2017</h1>
                </a>
            </div>


        </div>

        <div class="row" style="padding-bottom: 87px">

            <div class="col-md-6">
                <a href="https://www.ship-dismantling.co.uk" class="other-conference-outer">
                    <div class="other-conference jumbotron"
                         style="background-image: url('../static/Images/otherConferences/DISS.jpg')"></div>
                    <h1 class="other-conference-title">DISS 2017</h1>
                </a>
            </div>

            <div class="col-md-6">
                <a href="https://nupp.nuclearpowerplantconference.com" class="other-conference-outer">
                    <div class="other-conference jumbotron"
                         style="background-image: url('../static/Images/otherConferences/NUPP.jpg')"></div>
                    <h1 class="other-conference-title">NUPP 2017</h1>
                </a>
            </div>

        </div>

        <div class="row" style="padding-bottom: 20%">

            <div class="col-md-6">
                <a href="https://www.fireandblast.co.uk" class="other-conference-outer">
                    <div class="other-conference jumbotron"
                         style="background-image: url('../static/Images/otherConferences/CONFAB.jpg')"></div>
                    <h1 class="other-conference-title">CONFAB 2017</h1>
                </a>
            </div>

            <div class="col-md-6">
                <a href="https://www.adwind2017.com" class="other-conference-outer">
                    <div class="other-conference jumbotron"
                         style="background-image: url('../static/Images/otherConferences/adwind.jpg')"></div>
                    <h1 class="other-conference-title">AdWind 2017</h1>
                </a>
            </div>

        </div>

    </div>

{% endblock %}