{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}

{% block title %}Other ASRANet Conferences{% endblock %}

{% block body_block %}

    <div style="padding-top: 10%; margin-left: 5%; margin-right: 5%;" xmlns="http://www.w3.org/1999/html">
        <div class="row">

            <h2>Upcoming ASRANet Conferences</h2>

            <a href="https://bio-materials.co.uk">

                <div class="col-md-6" style="padding: 0; text-align: center">

                    <div class="other-conference jumbotron"
                         style="background-image: url('../static/Images/otherConferences/biomat.jpg')">
                        <div class="container">

                        </div>
                    </div>

                    <div class="other-conference-title">
                        <h2>BIOMAT</h2>
                    </div>

                </div>

            </a>

            <!--a href="https://offshore-renewables.co.uk">
                <div class="col-md-6 other-conference jumbotron"
                     style="background-image: url('../static/Images/otherConferences/CORE.jpg')">
                    <h2>CORE</h2>
                </div>
            </a>

            <a href="https://ship-dismantling.co.uk">
                <div class="col-md-6 other-conference jumbotron"
                     style="background-image: url('../static/Images/otherConferences/DISS.jpg')">
                    <h2>DISS</h2>
                </div>
            </a>

            <a href="https://nuclearpowerplantconference.co.uk">
                <div class="col-md-6 other-conference jumbotron"
                     style="background-image: url('../static/Images/otherConferences/NUPP.jpg')">
                    <h2>NUPP</h2>
                </div>
            </a-->

        </div>

    </div>

{% endblock %}